# Análisis de Datos con pandas (I)

En esta primera introducción a pandas vamos a implementar unos ejemplos de análisis de datos con un dataset muy sencillo (y muy típico para el aprendizaje) que contiene la información de los datos del Titanic.

Una vez importado el módulo pandas, vamos a echar un vistazo al dataset titanic: cuántas filas tiene, cuántas columnas, qué indica cada columna, etc.

In [ ]:
import pandas as pd

In [ ]:
t = pd.read_csv('titanic.csv')

In [ ]:
type(t['Age'])

A continuación puedes leer una descripción de cada una de las columnas que forman parte del dataset

-	PassengerId: identificador del pasajero
-	Survided: superviviente. 0 (no superviviente); 1 (superviviente)
-	Pclass: clase del pasajero. 1 (primera clase); 2 (segunda clase); 3 (tercera clase)
-	Name: Nombre del pasajero
-	Sex: Sexo del pasajero
-	Age: Edad del pasajero
-	SibSp: Número de hermanos / cónyuge embarcados
-	Parch: Número de padres / hijos embarcados
-	Ticket: Número de ticket del pasajero
-	Cabin: Cabina del pasajero
-	Embarked: Puerto de embarque. C (Cherbourg); Q (Queenstown); S (Southhampton)

Vamos a comenzar con al primera exploración de los datos

Muestra el nombre de los 10 primeros pasajeros que aparezcan en el dataset. A continuación, muestra tamién el sexo y la edad. Por último, realiza la misma operación pero con los 10 últimos pasajeros

Para comenzar a coger práctica, vamos a manejar la indexación booleana. Mostrar el nombre, sexo y edad de los pasajeros mayores de 60 años (22 en total).

Obtener un listado de las mujeres que viajaron en primera clase (94 en total).

Para facilitar el procesado, vamos a cambiar el contenido de la columna Sex: los ‘male’ van a pasar a ser ‘m’ y los female van a pasar a ser ‘f’. Crear una función que reciba un parámetro de entrada y devuelva el carácter ‘m’ si la entrada es ‘male’ o ‘f’ si la entrada es ‘female’. Utilizar la función apply para cmabiar el dataset

In [ ]:
def cambiar(x):

Calcular la edad media de los hombre y de las mujeres. Calcular la edad máxima de hombres y mujeres.

Queremos saber desde qué puerto (C, Q o S) era desde el que se montaba un mayor número de pasajeros. Mostar, además el número de embarques de cada clase en cada puerto.

Queremos conocer cuánto costaban los tickets del Titanic. Para ello, calcular la tarifa media de los pasajes. A continiación, mostar la media de las tarifas en función de la clase. ¿Cuánto costaba de media un pasaje de primera clase? ¿Y de segunda? ¿Y de tercera?

¿Murió mucha gente en el Titanic? ¿Es cierto que los botes salvavidas se reservaron para los pasajeros de primera clase? Y eso de primero niños y mujeres, ¿es cierto? Para ello, calcula, en primer lugar, el porcentaje de pasajeros que se salvaron. A continuación obtén el porcentaje de pasajeros que se salvaron de cada clase. Por último, el porcentaje de mujeres y de hombres que se salvaron.